<%= form_for @payment do |f| %>
  <p>
    <%='消費日付'%><br>
    <%= f.text_field :hiduke %>
  </p>
 
  <p>
    <%= '金額' %><br>
    <%= f.text_field :kingaku %>
  </p>

   <p>
    <%= '備考' %><br>
    <%= f.text_area :bikou %>
  </p>

  <p>
    <%=f.submit%>
  </p>
<% end %>
 