<h1>消費一覧</h1>



<%= link_to '追加', new_payment_path %>

<table>
  <tr>
    <th>消費日付</th>
    <th>金額</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @payments.each do |payment| %>
  <tr>
    <td><%= payment.hiduke %></td>
    <td><%= payment.kingaku %></td>
    <td><%= link_to '詳細', payment_path(payment) %></td>
    <td><%= link_to '変更', edit_payment_path(payment) %></td>
    <td><%= link_to '削除', payment_path(payment),
                    method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
  </tr>
<% end %>
</table>