<h3>詳細</h3>

<p>
  <strong>消費日付:</strong>
  <%= @payment.hiduke %>
</p>
<p>
  <strong>金額:</strong>
  <%= @payment.kingaku %>
</p>
 <p>
  <strong>備考:</strong>
  <%= @payment.bikou %>
</p>
 
 <%= link_to '戻る', payments_path %>